.carousel-item img{
    height: 100vh;
    width: 100%;
}
.popular{
    margin-top: 120px;
}
.elearning{
    margin-top: 120px;
}

.register{
    margin-top: 120px;
}
.faq-qustion{
    margin-top: 120px;

}
.company{
    margin-top: 120px;
}

.main-div{
    margin-left: 30px;
}
.main-div img{

    margin:40px 60px 0px 0px;
}

.icon{
    margin: 30px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    font-size: 40px;
}


@media screen and ( min-width: 768px) and (max-width: 1024px) {
    .main-div {
        display: flex;
        flex-wrap: wrap;
    }
    .faq-qustion{
        display: none;
    }
    /* .elearning{
        width: 60vw;
    } */
    .elearning img{
        height: 70vh;
        
    }
}

@media screen and ( min-width: 481px) and (max-width: 767px) {
    .main-div {
        display: flex;
        flex-wrap: wrap;
    }
    .faq-qustion{
        display: none;
    }
}